
.container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box {
    width: 100px;
    height: 100px;
}
.odd div:nth-child(odd) {
    background-color: black;
}
.odd div:nth-child(even) {
    background-color: wheat;
}
.even div:nth-child(odd) {
    background-color: wheat;
}
.even div:nth-child(even) {
    background-color: black;
}